@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "TT-Travels-Next-Med";
        src: url(../public/fonts/TT\ Travels\ Next\ Trial\ Medium.ttf);
    }
    @font-face {
        font-family: "TT-Travels-Next-Reg";
        src: url(../public/fonts/TT\ Travels\ Next\ Trial\ Regular.ttf);
    }
    @font-face {
        font-family: "TT-Travels-Next-Thin";
        src: url(../public/fonts/TT\ Travels\ Next\ Trial\ Thin.ttf);
    }
    @font-face {
        font-family: "TT-Travels-Next-Bold";
        src: url(../public/fonts/TT\ Travels\ Next\ Trial\ Bold.ttf);
    }
    @font-face {
        font-family: "TT-Travels-Next-Light";
        src: url(../public/fonts/TT\ Travels\ Next\ Trial\ Light.ttf);
    }
}